/* Color Template  */


.color-dark-text {
    color: $color-dark;
}

.color-light-bg {
    background: $color-light;
}

.color-medium-bg {
    background: $color-medium;
}

.color-dark-bg {
    background: $color-dark;
}