$font-roboto : 'Roboto',
sans-serif;
$font-raleway : "Raleway",
sans-serif;
$font-rubik : "Rubik",
sans-serif;


$color-light:#F0F0F0;
$color-medium : #505E79;
$color-dark :#1A1A1A;
$color-contrast:#EB6D4C;
$color-hero:#2A2E39;
$color-black:#303030;