*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  color: black;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section, canvas {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

#home {
  background-image: linear-gradient( rgba(31, 30, 28, 0.329), rgba(126, 112, 49, 0.45)), url(./img/roman-kraft-P8zDQz8Y2Vc-unsplash.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 7rem;
}

.nav-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
}

.links {
  display: flex;
  font-size: 1.8rem;
}

.links li a {
  display: flex;
  margin-right: 5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.links li a:hover {
  color: rgba(255, 255, 255, 0.692);
}

.nav-toggle {
  display: none;
}