*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    color: #16a4c4;
}

body {
    margin: 0;
    padding: 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container-fluid {
    height: 100vh;
    background-color: rgba(228, 228, 228, 0.685);
}

.form {
    display: flex;
}

.btn {
    width: 150px;
    height: 50px;
    outline: none!important;
    border: 1px solid rgb(0, 200, 77);
    color: rgb(16, 138, 16);
    font-size: 2rem;
    border-radius: 0px;
}

.btn:hover {
    background-color: rgba(238, 244, 255, 0.883);
    color: rgb(49, 49, 49);
}

.input {
    width: 100%;
    border: 1px solid rgb(0, 200, 77);
    border-right: none;
    outline: none;
    color: rgb(49, 49, 49);
    font-size: 2rem;
    padding-left: 20px!important;
}

.list {
    display: flex;
}

.text {
    width: 100%;
}

.text h5 {
    text-align: start;
    padding-left: 20px;
    font-size: 3.5rem;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.btn-recliclar {
    font-size: 2.5rem;
    color: rgb(214, 52, 52);
    margin: 5px;
}

.btn-editar {
    font-size: 2.5rem;
    color: rgb(68, 149, 224);
    margin: 5px;
}



.btn-done {
    font-size: 2.8rem;
    color: rgb(189, 65, 27);
    margin: 5px;
}

.btn-not-done {
    font-size: 2.8rem;
    color: rgb(27, 189, 27);
    margin: 5px;
}




.icon:hover {
    cursor: pointer;
    font-size: 3rem;
}

.btn-done:hover {
    font-size: 3.2rem;
}

.recicle-animation {
    transform: translateY(-500px) rotate(350deg);
    transition: 3s;
    overflow: hidden;
}

.btn-clear {
    border-radius: 7px;
    margin-top: 50px;
}

.hide-list {
    display: none
}

.overline {
    text-decoration: line-through;
  }


