*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    color: #16a4c4;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section, canvas {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    height: 150vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.958420868347339) 0%, rgba(226, 251, 249, 1) 7%, rgba(197, 226, 224, 1) 18%, rgba(183, 214, 212, 1) 31%, rgba(187, 252, 240, 1) 42%, rgba(44, 111, 95, 1) 58%, rgba(36, 91, 75, 1) 77%, rgba(15, 41, 31, 1) 95%, rgba(9, 27, 19, 1) 100%);
    background-repeat: no-repeat;
    position: relative;
}

.fish-container {
    opacity: 0;
    position: absolute;
    transform: rotate(290deg);
    /* animation-name: jump;
    animation-duration: 7s;
    animation-iteration-count: infinite; */
    animation: jump 7s infinite;
}

@keyframes jump {
    70% {
        top: 70vh;
        opacity: 0%;
        left: 10%;
        transform: rotate(290deg);
    }
    71% {
        opacity: 100%;
    }
    80% {
        top: 40vh;
        left: 20%;
    }
    83% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        top: 90vh;
        left: 25%;
        transform: rotate(430deg)
    }
}

.fish {
    height: 50px;
}

.cardume-container {
    position: absolute;
    bottom: 10%;
    flex-wrap: wrap;
    width: 300px;
    animation: cardume 30s infinite;
}

.cardume {
    height: 25px;
}

.hide {
    opacity: 0;
}

@keyframes cardume {
    0% {
        left: -20%;
        transform: rotate(1deg)scale(0.99);
    }
    10% {
        transform: rotate(-1deg)scale(1.01);
    }
    15% {
        transform: rotate(1deg)scale(0.99);
    }
    20% {
        transform: rotate(-1deg);
    }
    25% {
        transform: scale(1.01);
    }
    49% {
        left: 115%;
        transform: rotate(0deg);
    }
    50% {
        left: 120%;
        transform: rotateY(180deg);
    }
    90% {
        left: -50%;
        transform: rotateY(180deg);
    }
    100% {
        left: -25%;
        transform: rotateY(0deg);
    }
}

.boat-container {
    position: absolute;
    top: 30%;
    left: 0;
    animation: boat 10s infinite;
}

.boat {
    height: 250px;
    transform: rotateY(180deg);
}

@keyframes boat {
    0% {
        left: -20%;
    }
    10% {
        transform: skew(1deg,1deg);
    }
    20% {
        transform:  skew(2deg,5deg);
    }
    30% {
        transform:  skew(0deg,5deg);
    }


    100% {
        left: 120%;
    }
}